/****** BASE STYLES ******/
html{
  font-size: 16px;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** GRID ******/
.container{
	max-width: 1200px;
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


header{
  width: 100%;
  margin: 0 auto;
  border-bottom: .33em solid #77a466;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  text-align: center;


}
header h1{
    text-transform: uppercase;
    margin: 0;
  	padding: 38px 0;
    font-size: 2.5em;
    text-align: center;
    border-bottom: 3px solid #77a466;
}
header h1 span{
    color: #77a466;
}
nav {

      width: 100%;
      text-align: center:
      }

nav ul li{
      line-height: 4em;
      font-size: 1em;
      text-transform: uppercase;
      list-style: none;
      justify-content: space-around;
      }
nav ul li a {
      text-decoration: none;
      color: #77a466;
    }

/****** MAIN ******/
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.top-section,
.bottom-section {
	  margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-shrink:
}

.title h2{
    color: #77a466;
    font-size: 1.5em;
    text-align: left;
  	padding: 5px 0;
    text-transform: uppercase;
}
.title p {
    font-size: 1em;
    color: #222222;
    padding: 0;
  	line-height: 25px;
}
#hero-img{
    border-bottom: 3px solid #77a466;
    width: 100%;
}


.menu{
  text-align: center;
  border-top: 1px solid #eee;
  padding: 0;
}
.reviews{
  border-top: 1px solid #eee;

  padding: 10px 30px;
}
.contact{
  border-top: 1px solid #eee;
  padding: 10px 30px;
  
  text-align: center;
}

.menu li{
  color: #77a466;
  list-style: none;
  padding: 10px 0;
}
.menu h3{
  padding: 10px 0;
}
.reviews h3, .contact h3{
  padding: 10px 30px;
}

/***** FOOTER *****/
footer{
  text-align: center;
  border-top: 1px solid #eee;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
footer h2 span{
  font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.8em;
}
