/***** BASE STYLES *****/
Body{
  font-family: 'Montserrat', sans-serif;
  color: #77a466;
  text-transform: uppercase;
}


  /***** GRID *****/
.full-width {
      width: 1200px;
      margin: 0 auto;
      overflow: auto;
}
.full-width {
      width: 1200px;
      margin: 0 auto;
      overflow: auto;
}
.half-width {
    width: 600px;
    float:left;
  }
.third-width {
    width: 400px;
    float: left;

    ***** header ****

header h1 {
        padding: 65px 0 65px 25px;
        font-family: 'Lora' serif;
        font-size: 30px;
        color: #bbc085;
        }
header h1 {
        padding: 65px 0 65px 25px;
        font-family: sans-serif serif;
        font-size: 30px;
        color: #bbc085;
        text-transform: uppercase;
        }
header h1 span {
        color: #77a466;
        }

  nav {
        float: right;
        padding: 75px 25px;
        }
  nav ul li{
        display: inline-block;
        }
  nav ul li a {
        text-transform: uppercase;
        text-decoration:none;
        font-size: 18px;
        color: #828282;
        padding-left: 80px;
        }

        /***** about *****/

#About h2 {
      color: #77a466;
      text-transform: uppercase;
}
